@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  color: #1e1e1e;
}

.coin-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  color: #fff;
}

.coin-content {
  filter: drop-shadow(0 0 0.75rem #c0c2cc);
  padding: 0.3em;
}

.coin-search {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.coin-text {
  margin-bottom: 32px;
  text-align: center;
}

.coin-input {
  padding-left: 1.5em;
  width: 50em;
  height: 4em;
  border-radius: 0px;
  border-color: #1e1e1e;
  background-color: #dadde2;
  color: #1e1e1e;
}

.coin-input::placeholder {
  color: #1e1e1e;
}
